<h1> Index view page </h1>

<% @products.each do |product| %>
  <h2> <%= link_to product.title, product %> </h2>
    <p> <em><%= product.quantity  %></em>  <%= product.description %></p>
<% end %>
<% if user_signed_in? %>
  <%= link_to "New Product", new_product_path %>
<% end %>
